.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.heading {
	font-weight: bold;
	font-size: 10rem;
}

.playerName {
	font-weight: bold;
	font-size: 5rem;
}

.playAgain {
	font-weight: bold;
	font-size: 3rem;
}
