.diceContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
}

.dice {
	cursor: pointer;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.dice > img {
	width: 3vw;
}
